@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}
.outer-box{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top left,#234a5e,#032046d1);
}
.inner-box{
    border: 2px solid white;
    width: 350px;
    padding: 10px 25px;
    position: relative;
    background-color: rgb(61, 130, 144);
    top: 50vh;
    backdrop-filter: blur(10px);
    backface-visibility: visible;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 10px;
    z-index: 1;
}

.signup-header h1{
    font-size: 2.25rem;
    color: #ffffff;
}
.signup-header p{
    font-size: 0.9rem;
    color: white;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body label{
    display: block;
    font-size: 1.12rem;
    color: whitesmoke;
    margin: 0 0 5px;
}
.signup-body input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(100, 97, 97);
}
.signup-body input[type='submit']{
    background-color:rgb(204, 41, 79);
    color:whitesmoke;
    font-size: 1.12rem;
}
.signup-body input[type='submit']:hover{
    background-color: rgb(106, 36, 36);
    cursor: pointer;
}
.signup-footer{
    color: white;
    margin-top: 10px;
}
.signup-footer a{
    color: white;
}

.circle{
    border: 1px solid whitesmoke;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(to top right,#cec7c7,#ffffff33);
}
.c1{
    position: absolute;
    top: 30vh;
    left: 50px;
}
.c2{
    position: absolute;
    top: 45vh;
    right: 50px;
}
